<section>
	<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

				<h4>Or just send us a message:</h4>
				<form id="contact-form"  <form action="https://formspree.io/outreach@sscanalytics.com" method="POST">
                        <!--<form id="contact-form"  <form action="https://formspree.io/jonas.scholz123@gmail.com" method="POST" onsubmit="sendConfirm()"> -->
                    <input type="hidden" name="_next" value="https://mysite.com/thanks.html"/>
					<div class="row uniform">
						<div class="6u 12u$(xsmall)">
							<input type="text" name="clientName" id="client-name" value="" placeholder="Name" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="email" name="clientEmail" id="client-email" value="" placeholder="Email" />
						</div>
						<!-- <div class="6u 12u$(small)">
							<input type="checkbox" id="demo-copy" name="demo-copy">
							<label for="demo-copy">Email me a copy</label>
						</div> -->
						<div class="12u$">
							<textarea name="clientMessage" id="client-message" placeholder="Enter your message" rows="6"></textarea>
						</div>
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Send Message" class="special" /></li>
							</ul>
						</div>
				</form>
			</section>
