<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>How we work</h2>
			<p>We at SSC value transparency, so here's how we work:</p>
		</header>
		<ul class="features">
			<li class="icon fa-users">
				<h3>Absolute Anonymity</h3>
				<p>Your Students' anonymity is our top priority, that's why your student's personal information never leaves your system. <a href="/anonymity/">Read more</a></p>
			</li>
			<li class="icon fa-code">
				<h3>Intelligent Learning</h3>
				<p>Our team of data analytics experts use a combination of state of the art manual analytics and artifical intelligence to interpret student performances. <a href="/data-analytics/">Read more</a></p>
			</li>
			<li class="icon fa-warning">
				<h3>Early Warnings</h3>
				<p>Our system can spot a struggling student before even the most attentive teachers can. If it suspects a student slipping up, it sends out an early warning.</p>
			</li>
			<li class="icon fa-signal">
				<h3>Improvements</h3>
				<p>After we've figured out what every student needs to thrive individually, we make suggestions on how to improve overall student performance.</p>
			</li>
			<li class="icon fa-sliders">
				<h3>Flexibility</h3>
				<p>You can choose where you want your school to improve most: high university acceptance rate, low failure rates, highest average grade and many more options are available. <a href="/flexibility/">Read more</a></p>
			</li>
			<li class="icon fa-thumbs-o-up">
				<h3>Test Changes</h3>
				<p>If you have changes in mind, you can input them into our system to see how they might affect student performances. That's how you can assure yourself that what you do is best for the students. <a href="/test-changes/">Read more</a></p>
			</li>
			<li class="icon fa-check">
				<h3>Easy to Use</h3>
				<p>We realise that your time is valuable. That's why our tools are easy to use and work with most administration tools. If not, we'll do all the work for you - promise. <a href="/ease-of-use/">Read more</a></p>
			</li>
			<li class="icon fa-line-chart">
				<h3>Results Guaranteed</h3>
				<p>We're promising results. That's why the first year of our service is completely free of charge, and the next two years come at a reduced rate. <a href="/guaranteed-results/">Read more</a></p>
			</li>
		</ul>
	</div>
</section>
