<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Artificial Intelligence Driven <br />
			Teaching Suggestions</h2>
			<p>SSC Analytics uses state of the art artificial intelligence to analyse student performances,<br />
        finding student development patterns and suggesting beneficial adjustments to sixth form colleges.</p>
		</header>
		<ul class="icons major">
			<li><span class="fas fa-users fa-2x framed"></span>
			</li>
			<li><span class="fas fa-brain fa-2x framed"></span>
			</li>
			<li><span class="fas fa-chart-bar fa-2x framed"></span>
			</li>
			<li><span class="fas fa-user-graduate fa-2x framed"></span>
			</li>

		</ul>
	</div>
</section>
